@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #fefefa;
  --color-text: #241e04;
  --color-primary: #3126f7;
  --color-bg-variant: #e6fee8;
  --color-idan: #b10f06;
  --color-extra: #1b1b7c;
}
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: white;
  background: var(--color-bg-variant);
}

@keyframes rotateLeft {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-30deg);
  }
}

@keyframes rotateRight {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

.animate-spin-slow {
  animation-name: rotateLeft, rotateRight;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
